<!--
  Created by IHau - IntelliJ IDEA.
  User: Wkog
  Date: 25/12/2023
  Time: 9:21 AM
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Manage Project</title>
    <link href="./favicon.ico" rel="icon" type="image/x-icon">
    <link href="" rel="stylesheet">
</head>
<body>
<main>

</main>
</body>
</html>
