<!--
  Created by IHau - IntelliJ IDEA.
  User: Wkog
  Date: 27/12/2023
  Time: 11:31 AM
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="vi" th:replace="~{layout/template::areas(~{::title}, ~{::main}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Project</title>
</head>
<body>
<main>
    <div>
        <div class="mb-3" th:if="${not #strings.isEmpty(message)}">
            <div class="alert alert-success py-2 px-3" role="alert"
                 th:text="${message}">
            </div>
        </div>
        <div class="border-bottom border-1 mb-5 p-2">
            <h1>View Project</h1>
        </div>
        <div class="border border-1 rounded-3 mb-5">
            <div class="border-bottom border-1 bg-body-secondary">
                <p class="p-2 m-0">Project Information</p>
            </div>
            <div class="p-3">
                <table class="table table-bordered table-rounded">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="project, iterStat : ${projectList}">
                        <td th:text="${((pageNo) * pageSize + iterStat.count - 11) < 0 ? ((pageNo) * pageSize + iterStat.count) : ((pageNo) * pageSize + iterStat.count - 10) }"></td>
                        <td th:text="${project.projectCode}"></td>
                        <td th:text="${project.projectName}"></td>
                        <td th:text="${project.projectStartDate}"></td>
                        <td th:text="${project.projectEndDate}"></td>
                        <!--                            <td><a th:href="@{/project/edit/{id}(id=${project.projectId})}">Edit</a></td>-->
                        <td>
                            <button class="btn btn-outline-primary btn-edit-projectById"
                                    data-bs-target="#staticBackdrop"
                                    data-bs-toggle="modal" th:data-id="${project.projectId}"
                                    type="button">Edit
                            </button>
                            <button class="btn btn-outline-danger btn-delete-projectById"
                                    data-bs-target="#staticBackdrop"
                                    data-bs-toggle="modal" th:data-id="${project.projectId}"
                                    type="button">Delete
                            </button>
                        </td>
                        <!--                            <td><a th:href="@{/project/view/{id}(id=${project.projectId})}">View</a></td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <nav class="m-3">
        <ul class="pagination justify-content-end">
            <li class="page-item" th:if="${pageNo > 1}">
                <a class="page-link" th:href="@{'?pageNo='+${pageNo - 1}}">Previous</a>
            </li>
            <li class="page-item"
                th:classappend="${pageNo == i || (pageNo == 0 && i == 1) ? 'active' : ''}"
                th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:if="${i <= pageNo + 3 && i >= pageNo - 3}">
                <a class="page-link" th:href="@{'?pageNo='+${i}}" th:text="${i}"></a>
            </li>
            <li class="page-item" th:if="${pageNo < totalPages}">
                <a class="page-link" th:href="@{'?pageNo='+${pageNo == 0 ? 2 : pageNo + 1}}">Next</a>
            </li>
        </ul>
    </nav>
</main>
<script th:src="@{/javascript/project/view.js}"></script>
</body>
</html>
