<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Staff name</th>
                <td>${projectName}</td>
            </tr>
            <tr>
                <th>Project name</th>
                <td>${staffName}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>${staffName}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>${projectName}</td>
            </tr>
            <tr>
                <th>From time</th>
                <td>${staffName}</td>
            </tr>
            <tr>
                <th>To time</th>
                <td>${projectName}</td>
            </tr>
            <tr>
                <th>Total hours</th>
                <td>${staffName}</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>