<!--
  Created by IHau - IntelliJ IDEA.
  User: Wkog
  Date: 27/12/2023
  Time: 11:50 AM
  To change this template use File | Settings | File Templates.
-->
<head th:fragment="headFragment">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title th:text="${pageTitle}">Default Page Title</title>
    <link href="./favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/node_modules/normalize.css/normalize.css}">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap-icons/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{stylesheet/css/style.css}">
</head>
