<!--
  Created by IHau - IntelliJ IDEA.
  User: Wkog
  Date: 23/12/2023
  Time: 11:04 AM
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="">
</head>
<body>
<main>

</main>
</body>
</html>
