<!DOCTYPE html>
<html lang="vi" th:replace="~{layout/template::areas(~{::title}, ~{::main}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Claim</title>

</head>
<body>

<main>
    <div>
        <div class="border-bottom border-1 mb-5 p-2 ">
            <h1>Update Claim</h1>

        </div>
        <div class="border border-1 rounded-3 mb-5 ">
            <div class="border-bottom border-1 bg-body-secondary">
                <p class="p-2 m-0">Form to update claim</p>
            </div>
            <div class="p-3 w70">
                <form id="form-updateClaim" method="post" novalidate th:action="@{/claim/update}"
                      th:object="${updateClaim}">
                    <div class="mb-3" th:if="${not #strings.isEmpty(message)}">
                        <div class="alert alert-danger py-2 px-3" role="alert"
                             th:text="${message}">
                        </div>
                    </div>
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{workingId}">
                    <div class="mb-3"><label class="form-label" for="form-updateClaim__status">Status</label>
                        <input class="form-control shadow-none reset " readonly id="form-updateClaim__status"

                               required th:field="*{status}" type="text">
                        <div class="text-danger"
                             th:errors="*{status}"
                             th:if="${#fields.hasErrors('status')}">
                            Status Error
                        </div>
                    </div>
                    <div class="mb-3"><label class="form-label" for="form-updateClaim__staff-id">Staff Id</label>
                        <input class="form-control shadow-none reset w70" readonly id="form-updateClaim__staff-id"
                               required th:value="${currentUser.id}"
                               type="text">
                    </div>
                    <div class="mb-3"><label class="form-label" for="form-updateClaim__staff-name">Staff Name</label>
                        <input class="form-control shadow-none reset w70" readonly id="form-updateClaim__staff-name"
                               required th:value="${currentUser.name}"
                               type="text">
                    </div>
                    <div class="mb-3 w70"><label class="form-label" for="form-updateClaim__staff-department">Staff
                        Department </label>
                        <input class="form-control shadow-none reset" readonly
                               id="form-updateClaim__staff-department" required
                               th:value="${currentUser.departmentName}" type="text">
                    </div>

<!--                    Project info-->
                    <div th:object="${viewUpdateClaim}">
                    <div class="mb-3 w70">
                        <label class="form-label" for="form-updateClaim__project-name">Project Name</label>
                        <input type="text" class="form-control shadow-none reset" id="form-updateClaim__project-name"
                               readonly th:field="*{projectName}">
<!--                        <div class="text-danger"-->
<!--                             th:errors="*{projectName}"-->
<!--                             th:if="${#fields.hasErrors('projectName')}">-->
<!--                            Project Name Error-->
<!--                        </div>-->
                    </div>
                    <!--                    Show the detail of working-->
                    <div class="container" id="workingDetail">
                        <div class="row">

                            <div class="col mb-3">
                                <label class="form-label" for="form-updateClaim__roleInProject">Role In Project</label>
                                <input class="form-control shadow-none reset w70" readonly
                                       id="form-updateClaim__roleInProject"
                                       type="text" th:value="*{jobRankName}"/>
                            </div>

                            <div class="col mb-3">
                                <label class="form-label" for="form-updateClaim__joinedDate">Joined Project Date</label>
                                <input class="form-control shadow-none reset w70" readonly
                                       id="form-updateClaim__joinedDate"
                                       type="date" name="joinedProjectDate" th:value="*{joinedProjectDate}"/>
                            </div>
                            <div class="col mb-3">
                                <label class="form-label" for="form-updateClaim__leftDate">Left Project Date</label>
                                <input class="form-control shadow-none reset w70" readonly
                                       id="form-updateClaim__leftDate"
                                       type="date" name="leftProjectDate" th:value="*{leftProjectDate}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label class="form-label" for="form-updateClaimDetail__startDate">Start
                                    Date Project</label>
                                <input class="form-control shadow-none w-100 reset"
                                       id="form-updateClaimDetail__startDate" name="projectStartDate"
                                       type="date" th:value="*{projectStartDate}" readonly>
                            </div>
                            <div class="col mb-3 "><label class="form-label" for="form-updateClaimDetail__endDate">End
                                Date Project</label>
                                <input class="form-control shadow-none w-100 reset"
                                       id="form-updateClaimDetail__endDate" name="projectEndDate"
                                       type="date" th:value="*{projectEndDate}" readonly>
                            </div>
                            <div class="col mb-3"><label class="form-label" for="form-updateClaim__project-duration">Project
                                Duration</label>
                                <input class="form-control shadow-none reset" disabled
                                       id="form-updateClaim__project-duration" name="projectDuration"
                                       type="text">

                            </div>
                        </div>
                    </div>
                    </div>
                    <!--Input claim date -->
                    <div class="container">
                        <div class="row">
                            <div class="col mb-3"><label class="form-label" for="form-updateClaimDetail__date">Claim
                                Date</label>
                                <input class="form-control shadow-none reset"
                                       id="form-updateClaimDetail__date" required
                                       name="date" th:value="*{date}"
                                       type="date">
                                <div class="text-danger"
                                     th:errors="*{date}"
                                     th:if="${#fields.hasErrors('date')}">
                                    Claim Date Error
                                </div>
                            </div>
                            <div class="col mb-3"><label class="form-label"
                                                         for="form-updateClaimDetail__day">Day</label>
                                <input class="form-control shadow-none reset"
                                       disabled
                                       id="form-updateClaimDetail__day"
                                       required type="text">
                            </div>
                        </div>
                    </div>

                    <!--                    Input claim time-->
                    <div class="container">
                        <div class="row">
                            <div class="col-4 mb-3"><label class="form-label"
                                                           for="form-updateClaimDetail__fromTime">
                                From</label>
                                <input class="form-control shadow-none reset"
                                       id="form-updateClaimDetail__fromTime" required name="fromTime"
                                       th:value="*{fromTime}"
                                       type="time">
                                <div class="text-danger"
                                     th:errors="*{fromTime}"
                                     th:if="${#fields.hasErrors('fromTime')}">
                                    From Time Error
                                </div>
                            </div>
                            <div class="col-4 mb-3"><label class="form-label"
                                                           for="form-updateClaimDetail__toTime"> To</label>
                                <input class="form-control shadow-none reset"
                                       id="form-updateClaimDetail__toTime" required name="toTime"
                                       th:value="*{toTime}"
                                       type="time">
                                <div class="text-danger"
                                     th:errors="*{toTime}"
                                     th:if="${#fields.hasErrors('toTime')}">
                                    To Time Error
                                </div>
                            </div>
                            <div class="col-4 mb-3"><label class="form-label"
                                                           for="form-updateClaimDetail__totalHours">Total
                                Hours</label>
                                <input class="form-control shadow-none reset"
                                       readonly id="form-updateClaimDetail__totalHours"
                                       required th:field="*{totalHours}" type="number">
                                <div class="text-danger"
                                     th:errors="*{totalHours}"
                                     th:if="${#fields.hasErrors('totalHours')}">
                                    Total Hours Error
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mb-3"><label class="form-label" for="form-updateClaimDetail__remarks">Remarks</label>
                        <textarea
                                class="form-control shadow-none reset" id="form-updateClaimDetail__remarks"
                                required
                                style="resize: vertical; overflow: auto;"
                                th:field="*{remarks}"></textarea>
                        <div class="text-danger"
                             th:errors="*{remarks}"
                             th:if="${#fields.hasErrors('remarks')}">
                            Remarks Error
                        </div>
                    </div>

                    <button class="btn btn-success" id="createBtn" type="submit">Save</button>
                    <button class="btn btn-success" type="reset">Reset</button>
                    <a class="btn btn-success" type="button" th:href="@{/claim/myDraft}">Cancel</a>
                </form>
            </div>
        </div>
    </div> <!-- logic sử lí tính thứ theo ngày-->

</main>
<script th:src="@{/javascript/claim/myClaim/update-claim.js}"></script>
</body>
</html>