<!DOCTYPE html>
<html lang="vi" th:replace="~{/layout/template::areas(~{::title},~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Claim</title>

</head>
<body>

<main>
    <div>
        <div class="border-bottom border-1 mb-5 p-2 ">
            <h1>Update Claim</h1>

        </div>
        <div class="border border-1 rounded-3 mb-5 ">
            <div class="border-bottom border-1 bg-body-secondary">
                <p class="p-2 m-0">Form to update claim</p>
            </div>
            <div class="p-3 w70">
                <form id="form-addClaim" method="post" novalidate th:action="@{/claim/myClaim/update}"
                      th:object="${updateClaim}">
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{workingId}">
                    <div class="mb-3"><label class="form-label" for="form-addClaim__status">Status</label>
                        <input class="form-control shadow-none reset " readonly id="form-addClaim__status"

                               required th:field="*{status}" type="text">
                        <div class="text-danger"
                             th:errors="*{status}"
                             th:if="${#fields.hasErrors('status')}">
                            Status Error
                        </div>
                    </div>
                    <div class="mb-3"><label class="form-label" for="form-addClaim__staff-id">Staff Id</label>
                        <input class="form-control shadow-none reset w70" readonly id="form-addClaim__staff-id"
                               required th:value="${currentUser.id}"
                               type="text">
                    </div>
                    <div class="mb-3"><label class="form-label" for="form-addClaim__staff-name">Staff Name</label>
                        <input class="form-control shadow-none reset w70" readonly id="form-addClaim__staff-name"
                               required th:value="${currentUser.name}"
                               type="text">
                    </div>
                    <div class="mb-3 w70"><label class="form-label" for="form-addClaim__staff-department">Staff
                        Department </label>
                        <input class="form-control shadow-none reset" readonly
                               id="form-addClaim__staff-department" required
                               th:value="${currentUser.departmentName}" type="text">
                    </div>

                    <div class="mb-3 w70">
                        <label class="form-label" for="form-addClaim__project-name">Project Name</label>
                        <input type="text" class="form-control shadow-none reset" id="form-addClaim__project-name" th:field="*{projectName}">
                        <div class="text-danger"
                             th:errors="*{projectName}"
                             th:if="${#fields.hasErrors('projectName')}">
                            Project Name Error
                        </div>
                    </div>
                    <!--                    Show the detail of working-->
                    <div class="container" id="workingDetail">
                        <div class="container">
                            <div class="row">


                                <div class="col mb-3">
                                    <label class="form-label" for="form-addClaim__roleInProject">Role In Project</label>
                                    <input class="form-control shadow-none reset w70" disabled id="form-addClaim__roleInProject"
                                           type="text" th:value="*{jobRankName}"/>
                                </div>

                                <div class="col mb-3">
                                    <label class="form-label" for="form-addClaim__joinedDate">Joined Project Date</label>
                                    <input class="form-control shadow-none reset w70" disabled id="form-addClaim__joinedDate"
                                           type="date" th:value="*{joinedProjectDate}"/>
                                </div>
                                <div class="col mb-3">
                                    <label class="form-label" for="form-addClaim__leftDate">Left Project Date</label>
                                    <input class="form-control shadow-none reset w70" disabled id="form-addClaim__leftDate"
                                           type="date" th:value="*{leftProjectDate}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label class="form-label" for="form-addClaimDetail__startDate">Start
                                        Date Project</label>
                                    <input class="form-control shadow-none w-100 reset"
                                           id="form-addClaimDetail__startDate" name="projectStartDate"
                                           type="date" th:value="*{projectStartDate}" disabled>
                                </div>
                                <div class="col mb-3 "><label class="form-label" for="form-addClaimDetail__endDate">End
                                    Date Project</label>
                                    <input class="form-control shadow-none w-100 reset"
                                           id="form-addClaimDetail__endDate" name="projectEndDate"
                                           type="date" th:value="*{projectEndDate}" disabled>
                                </div>
                                <div class="col mb-3"><label class="form-label" for="form-addClaim__project-duration">Project
                                    Duration</label>
                                    <input class="form-control shadow-none reset" disabled
                                           id="form-addClaim__project-duration" name="projectDuration"
                                           type="text">

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Input claim date -->
                    <div class="container">
                        <div class="row">
                            <div class="col-6 mb-3"><label class="form-label" for="form-addClaimDetail__date">Chose
                               Claim Date</label>
                                <input class="form-control shadow-none reset"
                                       id="form-addClaimDetail__date" required
                                       name="date" th:value="*{date}"
                                       type="date">
                                <div class="text-danger"
                                     th:errors="*{date}"
                                     th:if="${#fields.hasErrors('date')}">
                                    Claim Date Error
                                </div>
                            </div>
                            <div class="col-6 mb-3"><label class="form-label" for="form-addClaimDetail__day">Day</label>
                                <input class="form-control shadow-none reset"
                                       disabled
                                       id="form-addClaimDetail__day"
                                       required type="text">
                            </div>
                        </div>
                    </div>

                    <!--                    Input claim time-->
                    <div class="container">
                        <div class="row">
                            <div class="col-4 mb-3"><label class="form-label"
                                                           for="form-addClaimDetail__fromTime">
                                From</label>
                                <input class="form-control shadow-none reset"
                                       id="form-addClaimDetail__fromTime" required name="fromTime"
                                       th:value="*{fromTime}"
                                       type="time">
                                <div class="text-danger"
                                     th:errors="*{fromTime}"
                                     th:if="${#fields.hasErrors('fromTime')}">
                                    From Time Error
                                </div>
                            </div>
                            <div class="col-4 mb-3"><label class="form-label"
                                                           for="form-addClaimDetail__toTime"> To</label>
                                <input class="form-control shadow-none reset"
                                       id="form-addClaimDetail__toTime" required name="toTime"
                                       th:value="*{toTime}"
                                       type="time">
                                <div class="text-danger"
                                     th:errors="*{toTime}"
                                     th:if="${#fields.hasErrors('toTime')}">
                                    To Time Error
                                </div>
                            </div>
                            <div class="col-4 mb-3"><label class="form-label"
                                                           for="form-addClaimDetail__totalHours">Total
                                Hours</label>
                                <input class="form-control shadow-none reset"
                                       readonly id="form-addClaimDetail__totalHours"
                                       required th:field="*{totalHours}" type="number">
                                <div class="text-danger"
                                     th:errors="*{totalHours}"
                                     th:if="${#fields.hasErrors('totalHours')}">
                                    Total Hours Error
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mb-3"><label class="form-label" for="form-addClaimDetail__remarks">Remarks</label>
                        <textarea
                                class="form-control shadow-none reset" id="form-addClaimDetail__remarks"
                                required
                                style="resize: vertical; overflow: auto;"
                                th:field="*{remarks}"></textarea>
                        <div class="text-danger"
                             th:errors="*{remarks}"
                             th:if="${#fields.hasErrors('remarks')}">
                            Remarks Error
                        </div>
                    </div>

                    <button class="btn btn-success" id="createBtn" type="submit">Save</button>
                    <button class="btn btn-danger" type="reset">Reset</button>
                    <a class="btn btn-danger" type="button">Cancel</a>
                </form>
            </div>
        </div>
    </div> <!-- logic sử lí tính thứ theo ngày-->

    <!--    <script th:src="@{/node_modules/jquery/dist/jquery.js}"></script>-->
    <!--    <script th:src="@{/node_modules/jquery-validation/dist/jquery.validate.js}"></script>-->
    <!--    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.js}"></script>-->
    <!--    <script th:src="@{/javascript/main.js}"></script>-->
    <!--    <script th:src="@{/javascript/claim/myClaim/create-claim.js}"></script>-->
    <!--    <script th:src="@{/javascript/claim/myClaim/create-claim.js}"></script>-->
</main>
</body>
</html>