<!DOCTYPE html>
<html lang="vi" th:replace="~{layout/template::areas(~{::title}, ~{::main}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Finance Claim</title>

</head>
<body>

<main>
    <div>
        <div class="border-bottom border-1 mb-5 p-2 ">
            <h1>Finance Claim</h1>

        </div>
        <div class="border border-1 rounded-3 mb-5 ">
            <div class="border-bottom border-1 bg-body-secondary">
                <p class="p-2 m-0">Form to paid/ unpaid a claim</p>
            </div>
            <div class="p-3 w70">
                <div class="mb-3" th:if="${not #strings.isEmpty(message)}">
                    <div class="alert alert-danger py-2 px-3" role="alert"
                         th:text="${message}">
                    </div>
                </div>
                <div th:object="${viewApprovalClaim}">

                    <div class="mb-3"><label class="form-label" for="form-reviewClaim__status">Status</label>
                        <input class="form-control shadow-none reset " disabled id="form-reviewClaim__status"
                               th:field="*{status}" type="text">
                    </div>
                    <div class="mb-3"><label class="form-label" for="form-reviewClaim__staff-id">Staff Id</label>
                        <input class="form-control shadow-none reset w70" disabled id="form-reviewClaim__staff-id"
                               th:value="*{staffId}"
                               type="text">
                    </div>
                    <div class="mb-3"><label class="form-label" for="form-reviewClaim__staff-name">Staff Name</label>
                        <input class="form-control shadow-none reset w70" disabled id="form-reviewClaim__staff-name"
                               th:value="*{staffName}"
                               type="text">
                    </div>
                    <div class="mb-3 w70"><label class="form-label" for="form-reviewClaim__staff-department">Staff
                        Department </label>
                        <input class="form-control shadow-none reset" disabled
                               id="form-reviewClaim__staff-department"
                               th:value="*{department}" type="text">
                    </div>

                    <!--                    Project info-->
                    <div class="mb-3 w70">
                        <label class="form-label" for="form-reviewClaim__project-name">Project Name</label>
                        <input type="text" class="form-control shadow-none reset" id="form-reviewClaim__project-name"
                               disabled th:field="*{projectName}">
                    </div>
                    <!--                    Show the detail of working-->
                    <div class="container" id="workingDetail">
                        <div class="row">

                            <div class="col mb-3">
                                <label class="form-label" for="form-reviewClaim__roleInProject">Role In Project</label>
                                <input class="form-control shadow-none reset w70" disabled
                                       id="form-reviewClaim__roleInProject"
                                       type="text" th:value="*{jobRankName}"/>
                            </div>

                            <div class="col mb-3">
                                <label class="form-label" for="form-reviewClaim__joinedDate">Joined Project Date</label>
                                <input class="form-control shadow-none reset w70" disabled
                                       id="form-reviewClaim__joinedDate"
                                       type="date" name="joinedProjectDate" th:value="*{joinedProjectDate}"/>
                            </div>
                            <div class="col mb-3">
                                <label class="form-label" for="form-reviewClaim__leftDate">Left Project Date</label>
                                <input class="form-control shadow-none reset w70" disabled
                                       id="form-reviewClaim__leftDate"
                                       type="date" name="leftProjectDate" th:value="*{leftProjectDate}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label class="form-label" for="form-reviewClaimDetail__startDate">Start
                                    Date Project</label>
                                <input class="form-control shadow-none w-100 reset"
                                       id="form-reviewClaimDetail__startDate" name="projectStartDate"
                                       type="date" th:value="*{projectStartDate}" disabled>
                            </div>
                            <div class="col mb-3 "><label class="form-label" for="form-reviewClaimDetail__endDate">End
                                Date Project</label>
                                <input class="form-control shadow-none w-100 reset"
                                       id="form-reviewClaimDetail__endDate" name="projectEndDate"
                                       type="date" th:value="*{projectEndDate}" disabled>
                            </div>
                            <div class="col mb-3"><label class="form-label" for="form-reviewClaim__project-duration">Project
                                Duration</label>
                                <input class="form-control shadow-none reset" disabled
                                       id="form-reviewClaim__project-duration" name="projectDuration"
                                       type="text">

                            </div>
                        </div>
                    </div>
                    <!--Input claim date -->
                    <div class="container">
                        <div class="row">
                            <div class="col mb-3"><label class="form-label" for="form-reviewClaimDetail__date">Claim
                                Date</label>
                                <input class="form-control shadow-none reset"
                                       id="form-reviewClaimDetail__date"
                                       name="date" th:value="*{date}" disabled
                                       type="date">
                            </div>
                            <div class="col mb-3"><label class="form-label"
                                                         for="form-reviewClaimDetail__day">Day</label>
                                <input class="form-control shadow-none reset"
                                       disabled
                                       id="form-reviewClaimDetail__day"
                                       type="text">
                            </div>
                        </div>
                    </div>

                    <!--                    Input claim time-->
                    <div class="container">
                        <div class="row">
                            <div class="col-4 mb-3"><label class="form-label"
                                                           for="form-reviewClaimDetail__fromTime">
                                From</label>
                                <input class="form-control shadow-none reset"
                                       id="form-reviewClaimDetail__fromTime" disabled name="fromTime"
                                       th:value="*{fromTime}"
                                       type="time">
                            </div>
                            <div class="col-4 mb-3"><label class="form-label"
                                                           for="form-reviewClaimDetail__toTime"> To</label>
                                <input class="form-control shadow-none reset"
                                       id="form-reviewClaimDetail__toTime" disabled name="toTime"
                                       th:value="*{toTime}"
                                       type="time">
                            </div>
                            <div class="col-4 mb-3"><label class="form-label"
                                                           for="form-reviewClaimDetail__totalHours">Total
                                Hours</label>
                                <input class="form-control shadow-none reset"
                                       disabled id="form-reviewClaimDetail__totalHours"
                                       th:field="*{totalHours}" type="number">
                            </div>

                        </div>
                    </div>
                    <div class="mb-3"><label class="form-label" for="form-reviewClaimDetail__note">Note</label>
                        <textarea
                                class="form-control shadow-none reset" id="form-reviewClaimDetail__note"
                                disabled
                                style="resize: vertical; overflow: auto;"
                                th:field="*{remarks}"></textarea>
                    </div>
                </div>

                <form id="form-reviewClaim" method="post" novalidate
                      th:object="${approvalClaim}">
                    <input type="hidden" th:field="*{id}">

                    <div class="mb-3"><label class="form-label" for="form-reviewClaimDetail__remarks">Remarks</label>
                        <textarea
                                class="form-control shadow-none reset" id="form-reviewClaimDetail__remarks"
                                required
                                style="resize: vertical; overflow: auto;" name="remarks"
                                placeholder="Input the remarks"></textarea>
                        <div class="text-danger"
                             th:errors="*{remarks}"
                             th:if="${#fields.hasErrors('remarks')}">
                            Remarks Error
                        </div>
                    </div>

                    <button class="btn btn-success" id="paidBtn" value="Approve" type="button" data-bs-toggle="modal"
                            data-bs-target="#confirmModal">Paid
                    </button>
                    <button class="btn btn-success" id="rejectBtn" value="Reject" type="button" data-bs-toggle="modal"
                            data-bs-target="#confirmModal">Reject
                    </button>
                    <a class="btn btn-success" th:href="@{/claim/approved}">Close</a>
                    <!-- Modal -->
                    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="modal-content">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </form>

            </div>
        </div>
    </div>

</main>
<script th:src="@{/javascript/claim/finance/review-finance-claim.js}"></script>
</body>
</html>