.left-bar {
    width: 280px;
}

.error {
    color: red;
}

.autocomplete-results {
    max-height: 150px;
}

.viewClaim {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}