<!--
  Created by IHau - IntelliJ IDEA.
  User: Wkog
  Date: 02/01/2024
  Time: 8:09 PM
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="vi" th:replace="~{layout/template::areas(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Home Page</title>
    <link href="./favicon.ico" rel="icon" type="image/x-icon">
    <link href="" rel="stylesheet">
</head>
<body>
<main>
    <div class="mb-3" th:if="${not #strings.isEmpty(message)}">
        <div class="alert alert-success py-2 px-3" role="alert"
             th:text="${message}">
        </div>
    </div>
</main>
</body>
</html>
