<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Status</th>
                <td th:text="${claim.id}"></td>
            </tr>
            <tr>
                <th>Date</th>
                <td th:text="${status}"></td>
            </tr>
            <tr>
                <th>From time</th>
                <td th:text="${status}"></td>
            </tr>
            <tr>
                <th>To time</th>
                <td th:text="${status}"></td>
            </tr>
            <tr>
                <th>Staff name</th>
                <td th:text="${status}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td th:text="${status}"></td>
            </tr>
            <tr>
                <th>Salary</th>
                <td th:text="${status}"></td>
            </tr>
            <tr>
                <th>Project Name</th>
                <td th:text="${status}"></td>
            </tr>
            <tr>
                <th>Status date</th>
                <td th:text="${status}"></td>
            </tr>
            <tr>
                <th>End date</th>
                <td th:text="${status}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>