<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Staff id</th>
                <td th:text="${claim.workingByWorkingId.staffByStaffId.id}"></td>
            </tr>
            <tr>
                <th>Staff name</th>
                <td th:text="${claim.workingByWorkingId.staffByStaffId.name}"></td>
            </tr>
            <tr>
                <th>Staff email</th>
                <td th:text="${claim.workingByWorkingId.staffByStaffId.email}"></td>
            </tr>
            <tr>
                <th>Staff department</th>
                <td th:text="${claim.workingByWorkingId.staffByStaffId.departmentByDepartmentId.name}"></td>
            </tr>
            <tr>
                <th>Project Name</th>
                <td th:text="${claim.workingByWorkingId.projectByProjectId.name}"></td>
            </tr>
            <tr>
                <th>Project start date</th>
                <td th:text="${claim.workingByWorkingId.projectByProjectId.startDate}"></td>
            </tr>
            <tr>
                <th>Project end date</th>
                <td th:text="${claim.workingByWorkingId.projectByProjectId.endDate}"></td>
            </tr>
            <tr>
                <th>Claim status</th>
                <td th:text="${claim.status}"></td>
            </tr>
            <tr>
                <th>Claim date</th>
                <td th:text="${claim.date}"></td>
            </tr>
            <tr>
                <th>Claim from time</th>
                <td th:text="${claim.fromTime}"></td>
            </tr>
            <tr>
                <th>Claim to time</th>
                <td th:text="${claim.toTime}"></td>
            </tr>
            <tr>
                <th th:if="${claim.remarks != null}">Note</th>
                <td th:text="${claim.remarks}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>