<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table class="table table-striped">
        <tbody>
            <tr>
              <th>Status</th>
              <td>${staffName}</td>
            </tr>
            <tr>
              <th>Project Name</th>
              <td>${projectName}</td>
            </tr>
            <tr>
              <th>Staff name</th>
              <td>${staffName}</td>
            </tr>
            <tr>
              <th>Project Name</th>
              <td>${projectName}</td>
            </tr>
            <tr>
              <th>Staff name</th>
              <td>${staffName}</td>
            </tr>
            <tr>
              <th>Project Name</th>
              <td>${projectName}</td>
            </tr>
            <tr>
              <th>Staff name</th>
              <td>${staffName}</td>
            </tr>
            <tr>
              <th>Project Name</th>
              <td>${projectName}</td>
            </tr>
            <tr>
              <th>Staff name</th>
              <td>${staffName}</td>
            </tr>
            <tr>
              <th>Project Name</th>
              <td>${projectName}</td>
            </tr>
            <tr>
              <th>Staff name</th>
              <td>${staffName}</td>
            </tr>
            <tr>
              <th>Project Name</th>
              <td>${projectName}</td>
            </tr>
            <tr>
              <th>Project Name</th>
              <td>${projectName}</td>
            </tr>
            <tr>
              <th>Staff name</th>
              <td>${staffName}</td>
            </tr>
            <tr>
              <th>Project Name</th>
              <td>${projectName}</td>
            </tr>
      </tbody>
    </table>
</div>
</body>
</html>