<!DOCTYPE html>
<html lang="vi" th:replace="~{layout/template::areas(~{::title}, ~{::main}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>My Claim</title>
    <style>
        input {
            border: none;
        }

        .modal-body {
            max-height: 70vh;
            overflow-y: auto;
        }
    </style>
</head>
<body>
<main>
    <table class="table table-bordered">
        <thead>
        <tr class="bg-secondary">
            <th>Claim Id</th>
            <th>Staff Name</th>
            <th>Project Name</th>
            <th>Project Duration</th>
            <th>Total Working Hour</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="c : ${claims}">
            <tr data-rowid="1" data-target="#exampleModalCenter" data-toggle="modal">
                <td th:text="${c.id}"></td>
                <td th:text="${c.workingByWorkingId.staffByStaffId.name}"></td>
                <td th:text="${c.workingByWorkingId.projectByProjectId.name}"></td>
                <td>
                    <span th:text="${T(java.time.temporal.ChronoUnit).DAYS.between(c.workingByWorkingId.projectByProjectId.startDate, c.workingByWorkingId.projectByProjectId.endDate)}"></span>
                </td>
                <td th:text="${c.totalHours}"></td>
                <td>
                    <button class="btn btn-success" data-bs-target="#exampleModal" data-bs-toggle="modal" id="detail"
                            type="button">
                        Detail
                    </button>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <div>
        <ul class="pagination__content" id="pagination__content"></ul>
        <div class="d-flex justify-content-center" id="page-content"></div>
    </div>
    <div class="d-none" id="view-content__totalPages" th:data-totalPages="${totalPages}"></div>
    <div class="d-none" id="view-content__pageNo" th:data-pageNo="${currentPage}"></div>
    <input id="set__pageNo" name="pageNo" type="hidden" value="">
    <nav class="m-3">
        <ul class="pagination justify-content-end">
            <li class="page-item" th:if="${currentPage > 1}"><a class="page-link"
                                                                th:href="@{'?pageNo='+${currentPage - 1}}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == i ? 'active' : ''}"
                th:each="i : ${#numbers.sequence(1, totalPage)}">
                <a class="page-link" th:href="@{'?pageNo='+${i}}" th:text="${i}"></a>
            </li>
            <li class="page-item" th:if="${currentPage < totalPage}"><a class="page-link"
                                                                        th:href="@{'?pageNo='+${currentPage + 1}}">Next</a>
            </li>
        </ul>
    </nav>

    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Claim Detail</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body" id="modal-body-content"></div>
            </div>
        </div>
    </div>
</main>

</body>
<script th:src="@{/javascript/claim/detail.js}"></script>
</html>