<!DOCTYPE html>
<html lang="vi" th:replace="~{layout/template::areas(~{::title}, ~{::main}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>My Claim</title>
    <link href="./favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>
<main>
    <div class="border-bottom border-1 mb-5 p-2">
        <h1 th:text="${titlePage}">My Claim</h1>
    </div>
    <table class="table table-bordered" th:if="${totalPage > 0}">
        <thead>
        <tr class="bg-secondary">
            <th>Claim Id</th>
            <th>Staff Name</th>
            <th>Project Name</th>
            <th>Project Duration</th>
            <th>Total Working Hour</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="c : ${claims}">
            <tr data-rowid="1" data-target="#exampleModalCenter" data-toggle="modal">
                <td th:text="${c.claimId}"></td>
                <td th:text="${c.claimStaffName}"></td>
                <td th:text="${c.claimProjectName}"></td>
                <td>
                    <input class="start-date" hidden="hidden" th:value="${c.claimProjectStartDate}" type="date">
                    <input class="end-date" hidden="hidden" th:value="${c.claimProjectEndDate}" type="date">
                    <span class="duration"></span>
                </td>
                <td th:text="${c.claimTotalHours}"></td>
                <td>
                    <button class="btn btn-primary detail " data-bs-target="#exampleModal" data-bs-toggle="modal"
                            th:data-id="${c.claimId}" type="button">
                        Detail
                    </button>
                    <button class="btn btn-success btn-submitClaim" data-bs-target="#staticBackdrop"
                            data-bs-toggle="modal"
                            th:data-id="${c.claimId}"
                            th:if="${#strings.equals(c.claimStatus, 'DRAFT')}" type="button">
                        Submit
                    </button>
                    <a class="btn btn-warning" th:if="${#strings.equals(c.claimStatus, 'DRAFT')}" th:href="@{/claim/update(claimId=${c.claimId})}">
                        Update
                    </a>
                    <button class="btn btn-danger btn-cancel-claim" th:data-id="${c.claimId}" data-bs-target="#cancelModal"
                            data-bs-toggle="modal" th:if="${#strings.equals(c.claimStatus, 'DRAFT')}" type="button">
                        Cancel
                    </button>
                </td>

            </tr>


        </th:block>
        </tbody>
    </table>

    <div th:if="${totalPage > 0}">
        <ul class="pagination__content" id="pagination__content"></ul>
        <div class="d-flex justify-content-center" id="page-content"></div>
        <div class="d-none" id="view-content__totalPages" th:data-totalPages="${totalPages}"></div>
        <div class="d-none" id="view-content__pageNo" th:data-pageNo="${currentPage}"></div>
        <input id="set__pageNo" name="pageNo" type="hidden" value="">
        <nav class="m-3">
            <ul class="pagination justify-content-end">
                <li class="page-item" th:if="${currentPage > 1}">
                    <a class="page-link" th:href="@{'?pageNo='+${currentPage - 1}}">Previous</a>
                </li>
                <li class="page-item"
                    th:classappend="${currentPage == i || (currentPage == 0 && i == 1) ? 'active' : ''}"
                    th:each="i : ${#numbers.sequence(1, totalPage)}"
                    th:if="${i <= currentPage + 2 && i >= currentPage - 2}">
                    <a class="page-link" th:href="@{'?pageNo='+${i}}" th:text="${i}"></a>
                </li>
                <li class="page-item" th:if="${currentPage < totalPage}">
                    <a class="page-link" th:href="@{'?pageNo='+${currentPage == 0 ? 2 : currentPage + 1}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:if="${totalPage <= 0}">
        <p>No data available</p>
    </div>

    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Claim Detail</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body" id="modal-body-content"></div>
            </div>
        </div>
    </div>

    <div id="modalBootstrap">
        <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade"
             data-bs-backdrop="static" data-bs-keyboard="false"
             id="staticBackdrop" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-5" id="staticBackdropLabel">Submit Claim</h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                type="button"></button>
                    </div>
                    <div class="modal-body">
                        <div>This action will Submit Claim.</div>
                        <div>Please click ‘OK’ to submit the claim or ‘Cancel’ to close the dialog.</div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary btn-cancel-claimByIds" data-bs-dismiss="modal" type="button">
                            Cancel
                        </button>
                        <button class="btn btn-primary btn-ok-claimByIds" id="btn-ok-claimById" type="button">
                            Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cancel Modal -->
    <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="cancelModalLabel">Cancel Claim</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="cancel-modal-content">
                    <div>This action will cancel Claim.</div>
                    <div>Please click ‘OK’ to cancel the claim or ‘Cancel’ to close the dialog.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                    </button>
                    <a class="btn btn-primary" id="btn-cancel-modal">OK</a>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/javascript/claim/detail.js}"></script>
</body>
</html>