<!DOCTYPE html>
<html lang="vi" th:replace="~{layout/template::areas(~{::title}, ~{::main}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Staff</title>
</head>
<body>
<main>
    <div class="border-bottom border-1 mb-5 p-2">
        <h1>Create New Staff</h1>
    </div>
    <!--    <div class="bg-grey min-vh-100 d-flex">-->
    <div class="border border-1 rounded-3 mb-5">
        <!--        <div class="bg-white border border-grey border-round align-self-center main-form px-0">-->
        <!--            <h2 class="title text-grey bg-grey m-0 py-2 pl-3 border-bottom border-grey">-->
        <!--                Create New Staff-->
        <!--            </h2>-->
        <div class="border-bottom border-1 bg-body-secondary">
            <p class="p-2 m-0">Staff Information</p>
        </div>

        <form class="p-4" id="createStaffForm" method="post" th:action="@{/staff/create}" th:object="${newStaff}">
            <div class="mb-4">
                <div class="mb-3">
                    <label class="form-label" for="form-createStaff__name">Staff Name</label>
                    <input class="form-control shadow-none reset"
                           id="form-createStaff__name"
                           placeholder="Enter the staff name"
                           required
                           th:field="*{name}"
                           type="text"/>
                    <div class="text-danger"
                         th:errors="*{name}"
                         th:if="${#fields.hasErrors('name')}">
                        Name Error
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="form-createStaff__email">Email</label>
                    <input class="form-control shadow-none reset"
                           id="form-createStaff__email"
                           placeholder="Enter the email"
                           required
                           th:field="*{email}"
                           type="email"/>
                    <div class="text-danger"
                         th:errors="*{email}"
                         th:if="${#fields.hasErrors('email')}">
                        Email Error
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="form-createStaff__password">Password</label>
                    <input class="form-control shadow-none reset"
                           id="form-createStaff__password"
                           placeholder="Enter the password"
                           required
                           th:field="*{password}"
                           type="password"/>
                    <div class="text-danger"
                         th:errors="*{password}"
                         th:if="${#fields.hasErrors('password')}">
                        Password Error
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="form-createStaff__department">Department</label>

                    <select class="form-control shadow-none reset"
                            id="form-createStaff__department"
                            required
                            th:field="*{departmentId}">
                        <option th:each="item: ${departments}" th:text="${item.name}" th:value="${item.id}"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="form-createStaff__role">Role</label>

                    <select class="form-control shadow-none reset"
                            id="form-createStaff__role"
                            name="roleId"
                            required>
                        <option th:each="role: ${roles}" th:selected="${role.name=='ROLE_USER'}" th:text="${role.name}"
                                th:value="${role.id}"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="form-createStaff__salary">Salary</label>
                    <input class="form-control shadow-none reset"
                           id="form-createStaff__salary"
                           th:field="*{salary}"
                           type="number"/>
                    <div class="text-danger"
                         th:errors="*{salary}"
                         th:if="${#fields.hasErrors('salary')}">
                        Salary Error
                    </div>
                </div>
            </div>

            <button class="btn btn-success my-2 py-2 btn-font-size" type="submit">
                Save
            </button>
            <button class="btn btn-success my-2 py-2 btn-font-size" type="reset">
                Reset
            </button>
            <a class="btn btn-success my-2 py-2 btn-font-size" th:href="@{/staff/view}">
                Cancel
            </a>
        </form>
    </div>
</main>
<script th:src="@{/javascript/staff/create.js}"></script>
</body>
</html>
