<!DOCTYPE html>
<html lang="en" th:replace="~{/layout/template::areas(~{::title},~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Staff</title>
</head>
<body>
<!--<div class="container-fluid bg-grey min-vh-100 d-flex">-->
<main>
    <div class="border-bottom border-1 mb-5 p-2">
        <h1>Create Project</h1>
    </div>
    <div class="border border-1 rounded-3 mb-5">
        <div class="border-bottom border-1 bg-body-secondary">
            <p class="p-2 m-0">Project Information</p>
        </div>

        <form class="p-4" id="updateStaffForm" method="post" th:action="@{/staff/update}" th:object="${updateStaff}">
            <input th:field="*{id}" type="hidden"/>
            <!--            Start name-->
            <div class="mb-3">
                <label class="form-label" for="form-updateStaff__name">Staff Name</label>
                <p class="form-control shadow-none reset"
                   id="form-updateStaff__name"
                   th:text="*{name}">

                </p>
                <!--            End name-->

                <!--            Start department-->
            </div>

            <div class="mb-3">
                <label class="form-label" for="form-updateStaff__department">Department</label>
                <select class="form-control shadow-none reset"
                        id="form-updateStaff__department"
                        required
                        th:field="*{departmentId}">
                    <option th:each="item: ${departments}" th:text="${item.name}" th:value="${item.id}"></option>
                </select>

            </div>
            <!--            End department-->

            <!--            Start Role-->
            <div class="mb-3">
                <label class="form-label" for="form-createStaff__role">Role</label>

                <select
                        class="form-control shadow-none reset"
                        id="form-createStaff__role"
                        required
                        th:field="*{roleId}">
                    <option th:each="role: ${roles}" th:text="${role.name}" th:value="${role.id}"></option>
                </select>
            </div>
            <!--            End Role-->

            <!--            Start Salary-->
            <div class="mb-3">
                <label class="form-label" for="form-updateStaff__salary">Salary</label>
                <input class="form-control shadow-none reset"
                       id="form-updateStaff__salary"
                       required
                       th:field="*{salary}"
                       type="number"/>
                <div class="text-danger"
                     th:errors="*{salary}"
                     th:if="${#fields.hasErrors('salary')}">
                    Salary Error
                </div>
            </div>
            <!--            End Salary-->

            <button class="btn btn-success my-2 py-2 btn-font-size" type="submit">
                Save
            </button>

            <button class="btn btn-success my-2 py-2 btn-font-size" type="reset">
                Reset
            </button>
            <a class="btn btn-success my-2 py-2 btn-font-size" th:href="@{/staff/view}">
                Cancel
            </a>
        </form>
    </div>

    <script th:src="@{/node_modules/jquery/dist/jquery.js}"></script>
    <script th:src="@{/node_modules/jquery-validation/dist/jquery.validate.js}"></script>
    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/javascript/main.js}">
    </script>
    <script th:src="@{/javascript/staff/update.js}"></script>
</main>
</body>
</html>
