<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:object="${viewStaff}">
    <table class="w-100 mb-3">
        <tr>
            <td class="col-1">
                <span class="form-label font-weight-bold mr-2">Department:</span>
            </td>
            <td class="col-11">
                <span class="form-control border border-0" th:text="*{departmentName}">Accounting</span>
            </td>
        </tr>
        <tr>
            <td class="col-1">
                <span class="form-label font-weight-bold mr-2">Role:</span>
            </td>
            <td class="col-11">
                <span class="form-control border border-0" th:text="*{roleName}">BM</span>
            </td>
        </tr>
        <tr>
            <td class="col-1">
                <span class="form-label font-weight-bold mr-2">Salary:</span>
            </td>
            <td class="col-11">
                <span class="form-control border border-0" th:text="*{salary}">$1000</span>
            </td>
        </tr>
    </table>
    <a class="btn btn-success my-2 py-2" th:href="@{/staff/create}">Create New</a>
    <a class="btn btn-success my-2 py-2" th:href="@{/staff/update(id=${viewStaff.id})}">Edit</a>
</div>
</html>
