<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template::areas(~{::title},~{::main})}">
<head>
    <title>View Staff</title>
</head>
<body>
<!--<div class="container-fluid bg-grey min-vh-100 d-flex">-->
<main>
    <div
            class="bg-white border border-grey border-round align-self-center main-form px-0"
    >
        <h2
                class="title text-grey bg-grey m-0 py-2 pl-3 border-bottom border-grey"
        >
            Staff Information
        </h2>

        <div class="p-4" id="viewStaffForm">
            <div class="mb-3 row">
                <label
                        class="form-label font-weight-bold mr-2 col-2"
                        for="form-viewStaff__name"
                >Staff Name:
                </label>

                <select
                        class="shadow-none reset col-6"
                        name="name"
                        id="form-viewStaff__name"
                        required
                >
                    <option th:each="item: ${nameList}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
            </div>
            <div id="viewDetail">

            </div>


        </div>
    </div>
    <script th:src="@{/node_modules/jquery/dist/jquery.js}"></script>
    <script th:src="@{/node_modules/jquery-validation/dist/jquery.validate.js}"></script>
    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/javascript/main.js}">
    </script>
    <script th:src="@{/javascript/staff/view.js}"></script>

</main>

</body>
</html>
