<!--
  Created by IHau - IntelliJ IDEA.
  User: Wkog
  Date: 23/12/2023
  Time: 11:04 AM
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title th:text="${pageTitle}">Default Page Title</title>
    <link href="./favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/node_modules/normalize.css/normalize.css}">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap-icons/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{stylesheet/css/style.css}">
</head>
<body>
<main>
    <div class="container vh-100">
        <div class="row h-100 d-flex justify-content-center align-items-center">
            <div class="col-12 w-25">
                <div class="border border-1 rounded-2">
                    <div class="border-bottom border-1 bg-body-secondary">
                        <p class="p-3 m-0">Please Sign In</p>
                    </div>
                    <div class="p-3">
                        <form id="form-login" method="post" novalidate th:action="@{/login}">
                            <div class="mb-3" th:if="${not #strings.isEmpty(message)}">
                                <div class="alert alert-success py-2 px-3" role="alert"
                                     th:text="${message}">
                                </div>
                            </div>
                            <div class="mb-3">
                                <input autocomplete="username" class="form-control shadow-none" id="form-login__email"
                                       name="username" placeholder="Email" required type="email">
                            </div>
                            <div class="mb-3">
                                <input autocomplete="password" class="form-control shadow-none" id="form-login__password"
                                       name="password" placeholder="Password" required type="password">
                            </div>
                            <div class="d-flex justify-content-center" id="form-login__message">
                                <div class="text-danger mb-3" th:if="${param.error}">
                                    Invalid username and password.
                                </div>
                            </div>
                            <div class="mb-3">
                                <input class="" id="form-login__rememberMe" th:name="remember-me" type="checkbox">
                                <label class="form-check-label" for="form-login__rememberMe">Remember me</label>
                            </div>
                            <button class="btn btn-success w-100" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/node_modules/jquery/dist/jquery.js}"></script>
<script th:src="@{/node_modules/jquery-validation/dist/jquery.validate.js}"></script>
<script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.js}"></script>
<script th:src="@{/javascript/main.js}"></script>
</body>
</html>
