<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>My Claim</title>
    <link href="./favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/node_modules/normalize.css/normalize.css}">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap-icons/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{stylesheet/css/style.css}">
</head>
<body>
<main>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Claim Id</th>
                <th>Staff Name</th>
                <th>Project Name</th>
                <th>Project Duration</th>
                <th>Total Working Hour</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="c : ${claims}">
                <tr data-toggle="modal" data-target="#exampleModalCenter" data-rowid="1">
                    <td th:text="${c.id}"></td>
                    <td th:text="${c.workingByWorkingId.staffByStaffId.name}"></td>
                    <td th:text="${c.workingByWorkingId.projectByProjectId.name}"></td>
                    <td>
                        <span th:text="${T(java.time.temporal.ChronoUnit).DAYS.between(c.workingByWorkingId.projectByProjectId.startDate, c.workingByWorkingId.projectByProjectId.endDate)}"></span>
                    </td>
                    <td th:text="${c.totalHours}"></td>
                    <td>
                        <button class="detail btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModalCenter">
                            Detail
                        </button>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Detail Claim</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body-content">
                    <!-- Modal content will be dynamically added here -->
                </div>
            </div>
        </div>
    </div>




</main>

<script th:src="@{/node_modules/jquery/dist/jquery.js}"></script>
<script th:src="@{/node_modules/jquery-validation/dist/jquery.validate.js}"></script>





<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $('.detail').click(function () {
                var rowId = $(this).closest('tr').data('rowid'); // Remove this line as data-rowid is not present in your code
                var staffName = $(this).closest('tr').find('td:eq(1)').text();
                var projectName = $(this).closest('tr').find('td:eq(2)').text();
                var modalContent =
                    `<div class="table-striped">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Staff name</th>
                                        <td>${staffName}</td>
                                    </tr>
                                    <tr>
                                        <th>Project Name</th>
                                        <td>${projectName}</td>
                                    </tr>
                                    <tr>
                                        <th>Staff name</th>
                                        <td>${staffName}</td>
                                    </tr>
                                    <tr>
                                        <th>Project Name</th>
                                        <td>${projectName}</td>
                                    </tr>
                                    <tr>
                                        <th>Staff name</th>
                                        <td>${staffName}</td>
                                    </tr>
                                    <tr>
                                        <th>Project Name</th>
                                        <td>${projectName}</td>
                                    </tr>
                                    <tr>
                                        <th>Staff name</th>
                                        <td>${staffName}</td>
                                    </tr>
                                    <tr>
                                        <th>Project Name</th>
                                        <td>${projectName}</td>
                                    </tr>
                                    <tr>
                                        <th>Staff name</th>
                                        <td>${staffName}</td>
                                    </tr>
                                    <tr>
                                        <th>Project Name</th>
                                        <td>${projectName}</td>
                                    </tr>
                                    <tr>
                                        <th>Staff name</th>
                                        <td>${staffName}</td>
                                    </tr>
                                    <tr>
                                        <th>Project Name</th>
                                        <td>${projectName}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>`;
            $('#modal-body-content').html(modalContent);
        });
    });

</script>

<script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.js}"></script>
<script th:src="@{/javascript/main.js}"></script>
</body>
</html>